<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.AccountDAO">

    <select id="getAccountByUser" resultType="po.Account" parameterType="string">
        SELECT * from account WHERE user=#{user}
    </select>

    <select id="getAccountById" resultType="po.Account" parameterType="string">
        SELECT * from account WHERE id=#{id}
    </select>
    <select id="getPassword" resultType="string" parameterType="string">
        SELECT password from account WHERE user=#{user}
    </select>

    <select id="getId" parameterType="string" resultType="integer">
        SELECT id from account WHERE user=#{user}
    </select>
    <insert id="insertAccount" parameterType="po.Account" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO account (user,password) values (#{user},#{password})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM account WHERE id=#{id}
    </delete>

    <update id="updatePassword">
        UPDATE account SET password = #{param2} WHERE id = #{param1}
    </update>

    <update id="updatePicture">
        UPDATE account SET picture = #{param2} WHERE id = #{param1}
    </update>

    <update id="updateInfo" parameterType="po.Account">
        UPDATE account
        <set>
            <if test="name!=null">
                name = #{name},
            </if>
            <if test="age!=-1">
                age = #{age},
            </if>
            <if test="height!=-1.0">
                height = #{height},
            </if>
            <if test="weight!=-1.0">
                weight = #{weight},
            </if>
            <if test="fateRate!=-1.0">
                weight = #{weight},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>

