<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.DietDetailDAO">

    <resultMap id="DietDetailInf" type="po.DietDetail">
        <id property="food.id" column="id"/>
        <result property="quantity" column="quantity"/>
        <association property="food" javaType="po.Food">
            <id column="id" property="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>


    <select id="getByDietId" parameterType="int" resultMap="DietDetailInf">
        SELECT dd.quantity,f.*
        FROM dietdetail dd
        LEFT JOIN food f
        ON dd.food_id=f.id
        WHERE dd.diet_id=#{diet_id}
    </select>

    <insert id="insert" parameterType="po.DietDetail">
        INSERT INTO dietdetail(quantity,diet_id,food_id) VALUES (#{quantity},#{diet.id},#{food.id})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM dietdetail
        WHERE diet_id=#{param1}
        AND food_id=#{param2}
    </delete>

    <update id="update" parameterType="int">
        UPDATE dietdetail
        SET  quantity=#{param3}
        WHERE food_id=#{param2}
        AND diet_id=#{param1}
    </update>

</mapper>