<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.FoodLabelDAO">

    <!--TODO 需要为方便权重计算做出调整-->
    <resultMap id="foodInf" type="po.FoodLabel">
        <id property="food.id" column="id"/>
        <association property="food" javaType="po.Food">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="group" column="group"/>
            <result property="type" column="type"/>
            <result property="category" column="category"/>
            <result property="cellulose" column="cellulose"/>
            <result property="carotene" column="carotene"/>
            <result property="cholesterol" column="cholesterol"/>
            <result property="fat" column="fat"/>
            <result property="heat" column="heat"/>
            <result property="hehuang" column="hehuang"/>
            <result property="protein" column="protein"/>
            <result property="tanshui" column="tanshui"/>
            <result property="evaluate" column="evaluate"/>
            <result property="excipient" column="excipient"/>
            <result property="ingredient" column="ingredient"/>
            <result property="seasoning" column="seasoning"/>
            <result property="measure" column="measure"/>
            <result property="vitaminA" column="vitaminA"/>
            <result property="vitaminC" column="vitaminC"/>
            <result property="vitaminE" column="vitaminE"/>
            <result property="na" column="na"/>
            <result property="mei" column="mei"/>
            <result property="meng" column="meng"/>
            <result property="xi" column="xi"/>
            <result property="xin" column="xin"/>
            <result property="tie" column="tie"/>
            <result property="tong" column="tong"/>
            <result property="gai" column="gai"/>
            <result property="jia" column="jia"/>
            <result property="yansuan" column="yansuan"/>
            <result property="practice" column="practice"/>
            <result property="liuan" column="liuan"/>
            <result property="cook" column="cook"/>
            <result property="picture_mid" column="picture_mid"/>
            <result property="picture_high" column="picture_high"/>
            <result property="light" column="light"/>
            <result property="lin" column="lin"/>
        </association>
    </resultMap>

    <resultMap id="labelInf" type="po.FoodLabel">
        <id property="label.id" column="id"/>
        <association property="label" javaType="po.Label">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <select id="getLabelByFoodId" parameterType="int" resultMap="labelInf">
        SELECT l.id,l.name FROM
        foodlabel fl LEFT JOIN
        label l ON fl.label_id=l.id
        WHERE fl.food_id=#{food_id}
    </select>

    <select id="getFoodByLabelId" parameterType="int" resultMap="foodInf">
        SELECT f.*,l.name label_name FROM
        label l LEFT JOIN
        foodlabel fl
        ON l.id = fl.label_id
        LEFT JOIN
        food f ON fl.food_id=f.id
        WHERE fl.label_id=#{label_id}
    </select>

    <insert id="insert" parameterType="po.FoodLabel">
        INSERT INTO foodlabel(label_id,food_id) VALUES (#{param1},#{param2})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM foodlabel
        WHERE label_id=#{param1}
        AND food_id=#{param2}
    </delete>

<!--    <update id="update" parameterType="po.FoodLabel">-->
<!--        UPDATE foodlabel-->
<!--        SET label_id=#{label.id}-->
<!--        WHERE id={food.id}-->
<!--    </update>-->

</mapper>