<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.FoodDAO">

    <select id="getById" parameterType="int" resultType="po.Food">
        SELECT * FROM food WHERE id=#{id}
    </select>

    <select id="getBySpecifiedName" parameterType="string" resultType="po.Food">
        SELECT * FROM food WHERE `name` = #{name}
    </select>

    <select id="getByName" parameterType="string" resultType="po.Food">
        SELECT * FROM food WHERE `name` LIKE CONCAT('%',#{name},'%')
    </select>

    <select id="getByNameLimit" resultType="po.Food">
        SELECT * FROM food WHERE `name` LIKE CONCAT('%',#{param3},'%') ORDER BY id LIMIT #{param1},#{param2}
    </select>

    <select id="getAllFood" resultType="po.Food">
        SELECT * FROM food
    </select>

    <select id="getAllFoodLimit" resultType="po.Food">
        SELECT * FROM food ORDER BY id LIMIT #{param1},#{param2}
    </select>

    <select id="getFrequentFood" resultType="po.Food">
        SELECT * FROM food WHERE frequent = 1
    </select>

    <select id="getFrequentFoodLimit" resultType="po.Food">
        SELECT * FROM food WHERE frequent = 1 ORDER BY id LIMIT #{param1},#{param2}
    </select>

    <select id="getByGroup" resultType="po.Food">
        SELECT * FROM food WHERE `group`=#{group}
    </select>

    <select id="getByGroupLimit" resultType="po.Food">
        SELECT * FROM food WHERE `group`=#{param3} ORDER BY id LIMIT #{param1},#{param2}
    </select>

    <select id="getByType" resultType="po.Food">
        SELECT * FROM food WHERE `group` = 0 AND `type` LIKE CONCAT('%',#{type},'%')
    </select>

    <select id="getByTypeLimit" resultType="po.Food">
        SELECT * FROM food WHERE `group` = 0 AND `type` LIKE CONCAT('%',#{param3},'%') ORDER BY id LIMIT #{param1},#{param2}
    </select>

    <select id="getByCategory" resultType="po.Food">
        SELECT * FROM food WHERE `group` = 1 AND category LIKE CONCAT('%',#{category},'%')
    </select>

    <select id="getByCategoryLimit" resultType="po.Food">
        SELECT * FROM food WHERE `group` = 1 AND category LIKE CONCAT('%',#{param3},'%') ORDER BY id LIMIT #{param1},#{param2}
    </select>

    <insert id="insert" parameterType="po.Food">
        INSERT INTO food(`group`,`name`,picture,category,`type`,heat,tanshui,
        fat,protein,cellulose,vitaminA,vitaminC,vitaminE,carotene,liuan,hehuang,yansuan,cholesterol,
        mei,gai,tie,xin,tong,meng,jia,lin,na,xi,measure,evaluate,ingredient,excipient,seasoning,practice,cook)
        VALUES (#{group},#{name},#{picture},#{category},#{type},#{heat},#{tanshui},
        #{fat},#{protein},#{cellulose},#{vitaminA},#{vitaminC},#{vitaminE},#{carotene},#{liuan},#{hehuang},#{yansuan},#{cholesterol},
        #{mei},#{gai},#{tie},#{xin},#{tong},#{meng},#{jia},#{lin},#{na},#{xi},#{measure},#{evaluate},#{ingredient},#{excipient},#{seasoning},#{practice},#{cook})
    </insert>

    <insert id="simpleInsert" parameterType="po.Food">
        INSERT INTO food(`name`,protein,`group`) VALUES (
        #{name},#{protein},#{group})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM food WHERE id=#{id}
    </delete>


</mapper>