<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.LabelDAO">

    <select id="getAllLabel" resultType="po.Label">
        SELECT * FROM label
    </select>

    <insert id="insert" parameterType="po.Label">
        INSERT INTO label(name) VALUES (#{name})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM label
        WHERE id=#{id}
    </delete>

</mapper>
