<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.MenuDAO">

    <select id="getByAcc" parameterType="int" resultType="po.Menu">
        SELECT * FROM menu WHERE account_id=#{account_id}
    </select>

    <insert id="insert" parameterType="po.Menu">
        INSERT INTO menu(name,`date`,account_id)
        VALUES (#{name},#{date},#{menu.id})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM menu
        WHERE id=#{id}
    </delete>

</mapper>