<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.PlayDAO">

    <resultMap id="PlayInf" type="po.Play">
        <id property="sport.id" column="id"/>
        <result property="time" column="time"/>
        <result property="date" column="date"/>
        <association property="sport" javaType="po.Sport">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="consume" column="consume"/>
        </association>
    </resultMap>

    <select id="getPlayByAccIdDate" resultMap="PlayInf">
        SELECT id,name,`time`,`date`,consume
        FROM play p LEFT JOIN
        sport s ON
        p.sport_id = s.id
        WHERE p.account_id = #{param1}
        AND `date` = #{param2}
    </select>

    <insert id="insert" parameterType="po.Play">
        INSERT INTO play(account_id,sport_id,`time`,`date`)
        VALUES (#{account_id},#{sport.id},#{time},#{date})
    </insert>

    <delete id="delete">
        DELETE FROM play
        WHERE account_id = #{param1}
        AND sport_id = #{param2}
        AND `date` = #{param3}
    </delete>

    <update id="update" >
        UPDATE play
        SET `time` = #{param3}
        WHERE account_id = #{param1}
        AND sport_id = #{param2}
        AND `date` = #{param4,jdbcType=DATE}
    </update>

    <update id="updateObj" parameterType="po.Play">
        UPDATE play
        SET `time` = #{time}
        WHERE account_id = #{account_id}
        AND sport_id = #{sport.id}
        AND `date` = #{date,jdbcType=DATE}
    </update>

</mapper>