<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserLabelDAO">

    <resultMap id="UserLabelInf" type="po.UserLabel">
        <id property="id" column="id"/>
        <association property="label" javaType="po.Label">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>


    <select id="getByAccountId" parameterType="int" resultMap="UserLabelInf">
        SELECT * FROM userlabel WHERE id=#{account_id}
    </select>


    <insert id="insert" parameterType="po.UserLabel">
        INSERT INTO userlabel(label_id,account) VALUES (#{label.id},#{account.id})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM userlabel
        WHERE id=#{id}
    </delete>

    <update id="update" parameterType="po.UserLabel">
        UPDATE userlabel
        SET weight=#{weight}
        WHERE id={id}
    </update>

</mapper>