<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserLabelDAO">

    <resultMap id="labelInf" type="po.UserLabel">
        <id property="label.id" column="id"/>
        <association property="label" javaType="po.Label">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>


    <select id="getLabelByAccountId" parameterType="int" resultMap="labelInf">
        SELECT l.* FROM
        userlabel ul LEFT JOIN
        label l ON ul.label_id=l.id
        WHERE ul.account_id=1
    </select>


    <insert id="insert" >
        INSERT INTO userlabel(label_id,account_id,weight) VALUES (#{param1},#{param2},#{param3})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM userlabel
        WHERE label_id=#{param1}
        AND account_id = #{param2}
    </delete>

    <update id="update" parameterType="po.UserLabel">
        UPDATE userlabel
        SET weight=#{weight}
        WHERE label_id=#{label.id}
        AND account_id=#{account.id}
    </update>

</mapper>